body{
    width: 900px;
    min-height: 100%;
    margin: auto;
    
}




div.message_unread {
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
    color: black;

}

div.message_read {
    font-size: 16px;
    font-weight: normal;
    font-family: serif;
    color: gray;
} 

div#l {   
    font-size: 78px;
    font-family: serif;
    font-weight: bold;
    color: lightskyblue;
    position: relative;
    text-align: center;
    font-stretch: ultra-expanded;
    margin: auto;
}

div#l1 {
    
    margin: auto;
    text-align: center;
    height: 200px;
    width: 35%;
    position: relative;

      
}

div#l2 {
    
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: bold;
     
}


label {
    display: block;
    width: 260px;
    padding: 5px 5px;
    color: black;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}

